*{
      box-sizing: border-box;
      font-family: Cambria;
}
body{
    background-color: whitesmoke;
    color:  black;
}
.container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    box-shadow: 15px 15px 8px gray;    
}

.banner{
    display: block;
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: 5em;
    background-image : url("/static/img/chip1.jpg");
    background-size: 100% 100%;
    margin: 0px 0px 0px 0px;
    padding-top: 100px;
    color: goldenrod;
}

.menu{
    display: block;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    padding-top: 15px;
    margin: 0px 0px 0px 0px;
    border-width: 1px;
    position: sticky;
    top: 0%;
}

.menuitem{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.menuitem a{
    text-decoration: none; 
    color: goldenrod;
}

.content{
    display: block;
    width: 100%;
    background-color: white;
    min-height: 500px;
    margin: 0px 0px 0px 0px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}
.homecontent{
    min-height: 500px;
    margin: 10px 10px 10px 10px;
}
.homecontent h1{
    text-align: left;    
}
.homecontent img{
    float: right;
    width: 400px;
    height: 300px;
    margin-left: 10px;
}

.contenttext{
    text-align: justify;
}

.productcontent{
    min-height: 500px;
    margin: 10px 10px 10px 10px;
}

.productcontent h1{
    text-align: left;    
}

.productitem{
    display: inline-block;
    width: 50%;
    height: 250px;
    text-align: center;
}

.productitem img{
    width: 100px;
    height: 100px;
    display: block;
}
.productitem .itemimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 5px;
}

.productitem .itemname{
    display: block;
}
.productitem .itemprice{
    display: block;
}

.footer{
    display: block;
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;
    color: goldenrod;
}

.peopleitem{
    display: inline-block;
    width: 30%;
    height: 250px;
    text-align: center;
}

.peopleitem img{
    width: 100px;
    height: 100px;
    display: block;
}
.peopleitem .peopleimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 5px;
}

.peopleitem .peoplename{
    display: block;
}
.peopleitem .peopledesignation{
    display: block;
}
.contact{text-align: center;}